html, body, div, span, object, iframe, h1, h2,
h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn,
em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption,
figure, footer, header, hgroup, menu, nav, section, summary, time, mark,
audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    outline-style: none;
}

.header {
    width: 100%;
    height: 50px;
    background: #00BFFF;
    text-align: center;
    line-height: 50px;
}

.full {
    margin: 0;
    padding: 0;
}

.text-responsive-h {
    font-size: 5vw;
}

.text-responsive-p1 {
    font-size: 5vw;
    color: gray;
}

.text-responsive-p2 {
    font-size: 3vw;
}

.comment {
    padding-left: 1px;
}

.comment p {
    font-size: 4vw;
}

.introduction p {
    font-size: 4vw;
}