.navbar-header {
    background: #00BFFF;
}

/*设置导航头部字体颜色*/
.icon-bar, .navbar-brand {
    color: #ffffff;
}

.glyphicon-search {
    font-size: 1.5em;
}

.full {
    margin: 0;
    padding: 0;
}

#apps img {
    /*height: 70px;*/
}

.more_closed {
    padding: 2px;
}

.none {
    display: none;
}

.moreList .list-group-item {
    padding: 2px;
    margin-bottom: 2px;
}

.moreList p {
    font-size: 5vw;
    margin-bottom: 2px;
}

.fixed-top {
    width: 100%;
    position: fixed;
    z-index: 16;
}

.homePage, .moreList {
    margin-top: 50px;
}

.thumbnail {
    margin-bottom: 5px;
}

.thumbnail h4 {
    font-weight: bold;
    font-size: 2vw;
    margin-bottom: 2px;
}

.thumbnail p {
    font-size: 1vw;
    margin-bottom: 1px;
}

.title p {
    font-size: 5vw;
    margin-bottom: 2px;
}

#carousel-inner img {
    width: 100%;
    /*height: 180px;*/
}

#carousel-inner h3 {
    font-size: 4vw;
}

@media (max-width: 768px) {
    #carousel-inner img {
        height: 180px;
    }
}